<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <title><%= page_title %></title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag 'application' %>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class='container'>
      <header class='sixteen columns'>
        <h1 class='remove-bottom'><%= page_title %></h1>
      </header>
      <section class='two-thirds column'>
        <h3>Content</h3>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :class => name.to_s %>
        <% end %>
        <%= yield %>
      </section>
      <nav class='one-third column'>
        <h3>Navigation</h3>
      </nav>
      <footer class='sixteen columns'>
        <h3>Footer</h3>
      </footer>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
